@page
@model ProjektSpotkaniaGrupTematycznych.Pages.EditGroupModel

@{
    ViewData["Title"] = "EditGroup";
}

<h1>EditGroup</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Group.Id" />
            <div class="form-group">
                <label asp-for="Group.GroupName" class="control-label"></label>
                <input asp-for="Group.GroupName" class="form-control" />
                <span asp-validation-for="Group.GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.GroupDescription" class="control-label"></label>
                <input asp-for="Group.GroupDescription" class="form-control" />
                <span asp-validation-for="Group.GroupDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.City" class="control-label"></label>
                <input asp-for="Group.City" class="form-control" />
                <span asp-validation-for="Group.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Groups">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
