@page
@model ProjektSpotkaniaGrupTematycznych.Pages.EnlistModel
@{
}

<h1>DeleteGroup</h1>
<h3>Request admin to join?</h3>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Group.GroupName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Group.GroupName)
    </dd>
</dl>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InvRequest.Reason" class="control-label"></label>
                <input asp-for="InvRequest.Reason" class="form-control" />
                <span asp-validation-for="InvRequest.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Group.Id" />
                <input type="submit" value="Enlist!" class="btn btn-danger" />
            </div>
            <a asp-page="./Groups">Back to List</a>

        </form>
    </div>
</div>

