@page
@model ProjektSpotkaniaGrupTematycznych.Pages.EnlistModel
@{
}

<h1>DeleteGroup</h1>
<h3>Request admin to join?</h3>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Group.GroupName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Group.GroupName)
    </dd>
</dl>


    <form method="post">
        <input type="hidden" asp-for="Group.Id" />
        <input type="submit" value="Enlist!" class="btn btn-danger" /> |
        <a asp-page="./Groups">Back to List</a>
    </form>
